<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.smallmazila.russianarmy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.smallmazila.russianarmy.LogoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.smallmazila.russianarmy.TypesActivity"
            android:label="@string/title_activity_types" >
        </activity>
        <activity
            android:name="ru.smallmazila.russianarmy.WaterActivity"
            android:label="@string/title_activity_water" >
        </activity>
        <activity
            android:name="ru.smallmazila.russianarmy.ChapterActivity"
            android:label="@string/title_activity_chapter" >
        </activity>
        <activity
            android:name="ru.smallmazila.russianarmy.UnitCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_unit_card"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>